.nav{
	height: 15vh;
	width: 100vw;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	padding-bottom: 90px;
}
.logo{
	width: 20vw;
	display: flex;
	align-items: center;
	justify-content: start;

}
.logos{
	width: 44.4px;
	height: 50.5px;
}
.home{
	width:40vw;
	display: flex;
	flex-direction: row;
	justify-content: center;
	justify-content: space-between;
}
.HOME{
	height: 20px;
	font-family: Gobold;
	font-size: 20px;
	font-weight: 100;
	line-height: 1.2;
	color: #0d0d0d;
	text-decoration: none;
}
.gagan{
	width: 20vw;
	display: flex;
    justify-content: flex-end;

}
.team{
	text-decoration: underline;
}

/*BOX 2*/
.box2{
	height: 95vh;
	width: 81vw;
	box-shadow: 0 0 20px 0 rgba(0,0,0,0.16);
	background-color: #ffffff;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}
.container2{
	width: 74vw;
	height: 87vh;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
}
.main2{
	width: 74vw;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin-top: 20px;
}
.L1{
	height: 70vh;
	width: 37vw;
}
.image{
	height: 70vh;
	display: flex;
	flex-direction: column;
	justify-content: space-between;a
}
.images{
	height: 20vh;
	width: 11vw;
}
.colomn{
	display: flex;
	flex-direction: column;
}
.kicksup{
	height: 20px;
	font-family: ProductSansLight;
	font-size: 20px;
	line-height: 1.2;
	color: #0d0d0d;
}
.front{
	display: flex;
	flex-direction: row;
	margin-bottom: 30px;
}
.hello{
	height: 4.5vh;
	width: 2.7vw;
	margin-left: 10px;
}
.R1{
	height: 4.5vh;
	width: 2.7vw;
	background-color: #2aa8db;
}
.R2{
	height: 4.5vh;
	width: 2.7vw;
	background-color: #0d0d0d;
}
.R3{
	height: 4.5vh;
	width: 2.7vw;
	background-color: #0d0d0d;
	opacity: 0.5;
}
.R4{
	height: 4.5vh;
	width: 2.7vw;
    background-color: #ffffff;
    border: solid 1px black;
    text-align: center;
    margin-left: 10px;
}
.R1, .R2, .R3{
	margin-left: 10px;
}
.R8{
	width: 7vw;
	height: 5vh;
	border: solid 1px black;
}
.R9{
	width: 7vw;
	height: 5vh;
	background-color: #0d0d0d;
		margin-left: 20px;
		text-align: center;
}
.add{
    height: 20px;
	font-family: ProductSansLight;
	font-size: 20px;
	font-weight: 100;
	line-height: 1.2;
	color: #ffffff;	

}
.boxx{
	width: 74vw;
	display: flex;
	flex-direction: row;
	justify-content: center;
}

/**/
body{
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.main{
	width: 120vw;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}
.box3{
	height: 95vh;
	width: 30vw;
	box-shadow: 0 0 20px 0 rgba(0,0,0,0.16);
	background-color: #ffffff;
}
.box3{
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}
.shoes{
	height: 30px;
	font-family: Gobold;
	font-size: 30px;
	line-height: 1.2;
	color: #0d0d0d;
}
.container3{
	width: 25vw;
	height: 87vh;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
}
.search{
	height: 4vh;
	width: 3vw;
	margin-right: 15px;
}
.homie{
	width: 20vw;
      display: flex;
      flex-direction: row;
      justify-content: space-around;

}
.homee{
	height: 20px;
	font-family: ProductSans;
	opacity: 0.5;
	font-size: 20px;
	line-height: 1.2;
	color: #0d0d0d;
}
.roww{
	width: 25vw;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
.text{
	height: 20px;
	font-family: ProductSans;
	font-size: 20px;
	line-height: 1.2;
	color: #0d0d0d;
	margin-top: 300px;
	margin-left: 60px;
	margin-bottom: 200px;
}
.R11{
	width: 6.5vw;
	height: 3.5vh;
	background-color: #0d0d0d;
	opacity: 0.5;
	text-align: center;
	margin-top: 80px;
	margin-left: 130px;
}
.order{
	height: 20px;
	font-family: Gobold;
	font-weight: 100;
	font-size: 20px;
	line-height: 1.2;
	color: #ffffff;
}