.nav{
	height: 15vh;
	width: 100vw;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	padding-bottom: 90px;
}
.logo{
	width: 20vw;
	display: flex;
	align-items: center;
	justify-content: start;

}
.logos{
	width: 44.4px;
	height: 50.5px;
}
.home{
	width:40vw;
	display: flex;
	flex-direction: row;
	justify-content: center;
	justify-content: space-between;
}
.HOME{
	height: 20px;
	font-family: Gobold;
	font-size: 20px;
	font-weight: 100;
	line-height: 1.2;
	color: #0d0d0d;
	text-decoration: none;
}
.gagan{
	width: 20vw;
	display: flex;
    justify-content: flex-end;

}
.team{
	text-decoration: underline;
}
body{
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.main{
	width: 135vw;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}
.box1{
	height: 95vh;
	width: 30vw;
	box-shadow: 0 0 20px 0 rgba(0,0,0,0.16);
	background-color: #ffffff;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}
.box2{
	height: 95vh;
	width: 60vw;
	box-shadow: 0 0 20px 0 rgba(0,0,0,0.16);
	background-color: #ffffff;
}
.box3{
	height: 95vh;
	width: 30vw;
	box-shadow: 0 0 20px 0 rgba(0,0,0,0.16);
	background-color: #ffffff;
}
.container1{
	height: 87vh;
	width: 24vw;
	display: flex;
	flex-direction: column;
	
}
.fil{
	display: flex;
	flex-direction: row;
	margin-bottom: 40px;

}
.filters{
	height: 30px;
	font-family: Gobold;
	font-size: 30px;
	line-height: 1.2;
	color: #0d0d0d;
}
.filtericon{
	width: 2vw;
	margin-left: 200px;
}
.costy{
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}
.rs{
	height: 20px;
	font-family: ProductSans;
	font-size: 20px;
	line-height: 1.2;
	color: #0d0d0d;
	margin-left: 10px;
}
.R1{
	width: 1.3vw;
	height: 2.5vh;
	border: solid 1px black;
}
.boxes{
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	margin-top: 10px;
}
.colors{
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	margin-top: 30px;
}
.R2{
	height: 3.8vh;
	width: 2vw;
	background-color: #f03a3a;
	margin-top: 10px;
}
.R3{
	height: 3.8vh;
	width: 2vw;
	background-color: #4fb7dc;
	margin-top: 10px;
}
.R4{
	height: 3.8vh;
	width: 2vw;
	background-color: #f5ea5e;
	margin-top: 10px;
}
.R5{
	height: 3.8vh;
	width: 2vw;
	background-color: #4fdc84;
	margin-top: 10px;
}
.R6{
	height: 3.8vh;
	width: 2vw;
	background-image: linear-gradient(226deg, #656e15 135%, #c2c723 53%, rgba(74, 68, 8, 0.3) -29%);
	margin-top: 10px;
}
.boxes2{
	width: 15vw;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
.R9{
	width: 4vw;
	height: 3.5vh;
	background-color: #0d0d0d;
	text-align: center;
	margin-left: 150px;
	margin-top: 80px;
}
.apply{
      height: 20px;
	font-family: Gobold;
	font-size: 20px;
	font-weight: 100;
	line-height: 1.2;
	color: #ffffff;	
}
/*BOX 2*/
.box2{
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}
.container2{
	width: 55vw;
	height: 87vh;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}
.R10{
	height: 3.5vh;
	width: 4.5vw;
	border: solid 1px #0d0d0d;
	text-align: center;
}
.sort{
	height: 20px;
	font-family: Gobold;
	font-size: 20px;
	font-weight: 100;
	line-height: 1.2;
	color: #0d0d0d;
}
.dabba{
	display: flex;
	flex-direction: row;
}
.rowss{
	width: 55vw;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
.row1{
	width: 55vw;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding-top: 50px;
}
.images{
	height: 25vh;
	width: 17vw;
}

.ksl{
	height: 30px;
	font-family: ProductSans;
	font-size: 30px;
	line-height: 1.2;
	color: #0d0d0d;
	margin-top: 10px;
}
.colomn{
	display: flex;
	flex-direction: column;
}
.active{
	margin-left: 0px;
	margin-top: 10px;
}
.shoes{
	height: 30px;
	font-family: Gobold;
	font-size: 30px;
	line-height: 1.2;
	color: #0d0d0d;
}
.search{
	height: 4vh;
	width: 3vw;
	margin-right: 15px;
}
/*BOX 3*/
.box3{
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}
.container3{
	width: 25vw;
	height: 87vh;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
}
.homie{
	width: 20vw;
      display: flex;
      flex-direction: row;
      justify-content: space-around;

}
.homee{
	height: 20px;
	font-family: ProductSans;
	opacity: 0.5;
	font-size: 20px;
	line-height: 1.2;
	color: #0d0d0d;
}
.roww{
	width: 25vw;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
.text{
	height: 20px;
	font-family: ProductSans;
	font-size: 20px;
	line-height: 1.2;
	color: #0d0d0d;
	margin-top: 300px;
	margin-left: 60px;
	margin-bottom: 200px;
}
.R11{
	width: 6.5vw;
	height: 3.5vh;
	background-color: #0d0d0d;
	opacity: 0.5;
	text-align: center;
	margin-top: 80px;
	margin-left: 130px;
}
.order{
	height: 20px;
	font-family: Gobold;
	font-weight: 100;
	font-size: 20px;
	line-height: 1.2;
	color: #ffffff;
}